.about-section {
  position: relative;
  padding-top: 45px;
}
.about-section:before {
    background-size: cover;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    opacity: .2;
}

.content-block {
  width: 1140px;
  margin: auto
}

.sub-heading {
  background: linear-gradient(90deg, #FF4E50 0%, #F9D423 124.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.heading {
  background: linear-gradient(90deg, #FF4E50 0%, #F9D423 124.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  font-size: 40px;
  margin-bottom: 32px;
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.about-content {
  display: flex;
  gap: 30px;
}

.content-in {
  padding: 35px 50px;
  text-align: center;
  flex: 1;
  background: #fff;
  border: 1px solid #bd2c0d;
  box-shadow: 5px 5px 21px 3px rgba(0,0,0,.08);
  border-radius: 10px;
  width: 393px
}

.icon-wrap {
  margin-bottom: 20px;
}

.about-section .content-in .icons-about1 {
    margin-bottom: 30px;
    height: 59px
}
.mar-auto {
    margin: auto
}
.about-heading1 {
  margin-bottom: 16px;
  font-size: 24px;
}

.about-heading1 span {
  font-weight: normal;
}

.text-center {
    text-align: center
}

.content-in p {
  line-height: 25px;
  color: #555;
}
.dark .about-section .content-in .icons-about1 {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.dark {
    --white-fff: #312c42;
    --black-000: #000;
    --white-fff-2: #fff;
    --color-blue: #bac3f3;
    --color-blue-dark: #252035;
    --color-blue-dark-1: #1b1826;
    --color-blue-dark-3: #312c42;
    --color-blue-dark-2: #20203e;
    --color-blue-dark-4: #1e1a2c;
    --blue-shade1: #061477;
    --dark-shade2: #222;
    --color-bbb: #bbb;
    --color-light-1: #f0efef;
    --color-779: #797197;
}
.dark .about-section {
    background: var(--color-blue-dark);
}
.dark .heading {
    background: var(--color-blue);
    -webkit-background-clip: text;
}
.dark .sub-heading {
    background: var(--color-blue);
    -webkit-background-clip: text;
}
.dark .about-section .content-in {
    border: 1px solid var(--color-blue-dark-1);
    background: var(--color-blue-dark-3);
}
.dark .about-section .content-in .about-heading1 {
    color: var(--white-fff-2);
}
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .heading {
    font-size: 25px;
  }

  .content-block {
    width: 90%;
}

.about-section .content-in {
  width: 100%;
  padding: 30px;
}

.hide-on-mobile {
    display: none !important;
}
}
