.compare-box {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 100%;
  max-width: 860px;

  background: #f6f7fb; 
  padding: 35px 35px;
  border-radius: 18px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}.dark .compare-box {
    background: var(--color-blue-dark-3);
    border: 1px solid var(--color-blue-dark-1);
}

.compare-box input {
  flex: 1;
  height: 54px;

  padding: 0 18px;
  border-radius: 14px;

  border: 1px solid #ac32e4;
  background: #ffffff;

  font-size: 15px;
  outline: none;
}

.compare-box input:focus-visible {
    border: 1px solid #c4c4c4;
    outline-style: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.13)
}

.compare-box input::placeholder {
  color: #999;
  font-weight: 500;
}

.swap-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.8;
  transition: .3s
}

.swap-icon:hover {
  filter: invert(64%) sepia(87%) saturate(1038%) hue-rotate(2deg) brightness(100%) contrast(102%)
}
.compare-btn {
  height: 54px;
  padding: 0 28px;

  border-radius: 14px;
  border: none;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  linear-gradient(90deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
  color: #ffffff;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  white-space: nowrap;
}