/* #faq {
  scroll-margin-top: 90px;
}

.faq-section {
  max-width: 1100px;
  margin: 80px auto;
  padding: 40px;
}

.faq-card {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  padding: 30px;
}


.faq-header {
  text-align: center;
  margin-bottom: 20px;
}

.faq-brand {
  color: #e86c2a;
  font-weight: 600;
  font-size: 34px;
  font-weight: bold;
}

.faq-subtitle {
  color: #888;
  margin-top: 6px;
}

.faq-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 25px;
}

.faq-tabs button {
  background: none;
  border: none;
  padding: 12px 8px;
  font-size: 15px;
  cursor: pointer;
  color: #666;
}

.faq-tabs button.active {
  color: #e86c2a;
  font-weight: 600;
  border-bottom: 3px solid #e86c2a;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 14px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
}

.faq-answer {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}


@media (max-width: 768px) {
  .faq-tabs {
    flex-wrap: wrap;
  }
} */
.text-center {
    text-align: center;
}
p {
    line-height: 25px;
}




.faq-contact-block {
    background: #fdfdfd;
    padding-bottom: 1px;
}

.sections {
    padding: 50px 0;
}
.heading {
    background: linear-gradient(
90deg, #FF4E50 0%, #F9D423 124.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    font-size: 40px;
    margin-bottom: 32px;
}
.text-center {
    text-align: center;
}
.mar-b-0 {
    margin-bottom: 0px !important;
}
.faq-block .p-heading {
    color: #bbb;
    font-size: 26px;
    font-weight: normal;
}
.faq-block .faqs-block .faq-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
}
.faq-block .tab-buttons {
    display: flex;
    gap: 50px;
}
.faq-block .tab-buttons .active {
    color: #bd2c0d;
    font-weight: bold;
    position: relative;
}
.faq-block .tab-buttons span {
    color: #636d79;
    cursor: pointer;
}
.faq-block .tab-buttons .active:after {
    background: #170f49;
    content: "";
    height: 2px;
    width: 40px;
    display: block;
    position: absolute;
    bottom: -6px;
}
.faq-block .tab-buttons span {
    color: #636d79;
    cursor: pointer;
}
.faq-block .tab-content {
    padding-bottom: 50px;
    background: var(--white-fff);
    box-shadow: 5px 5px 21px 3px rgba(0,0,0,.08);
    border-radius: 10px;
    width: 880px;
    margin: auto;
    padding: 90px;
}

.accordion .accordion-item:nth-child(odd) {
    margin-right: 2%;
}
.accordion .accordion-item {
    border-bottom: 1px solid #d9dbe9;
    padding: 0 15px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}
.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    color: #000;
    border: none;
    background: none;
    outline: none;
    padding: 0px 0 30px;
}
.accordion button[aria-expanded=false] .accordion-title {
    color: #170f49;
}
.accordion button .accordion-title {
    color: #020041;
    font-size: 20px;
    font-family: "Lato";
}
.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 0;
    width: 22px;
    height: 22px;
}
.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 14px;
    height: 2px;
    background: currentColor;
    transition: .3s;
}
.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 3px;
    left: 11px;
    width: 2px;
    height: 14px;
    background: currentColor;
    transition: .3s;
}
.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear,max-height 200ms linear;
    will-change: opacity,max-height;
}
.accordion .accordion-content p {
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0px 35px;
    color: #6f6c90;
    font-weight: lighter;
    font-family: "LatoLight";
}
.content-block {
    width: 1140px;
    margin: auto;
}



.dark .faq-contact-block {
    background-color: var(--color-blue-dark);
}
.dark .heading {
    background: var(--color-blue);
    -webkit-background-clip: text;
}
.dark .faq-contact-block .faq-block .p-heading {
    color: var(--color-blue);
}.dark .faq-contact-block .faq-block .tab-buttons .active {
    color: var(--color-blue);
}
.dark .faq-contact-block .faq-block .tab-buttons span {
    color: var(--white-fff-2);
}
.dark .faq-contact-block .faq-block .tab-buttons .active:after {
    background: var(--color-blue);
}
.dark .accordion button .icon::before, .dark .accordion button .icon::after {
    background: var(--color-bbb);
}
.dark .accordion button .icon::before, .dark .accordion button .icon::after {
    background: var(--color-bbb);
}
.dark .accordion .accordion-content p {
    color: var(--white-fff-2);
}
.dark .accordion button[aria-expanded=false] .accordion-title {
    color: var(--color-bbb);
}







@media only screen and (max-width: 1199px) {
.content-block {
    width: 90%;
}
.heading {
    font-size: 26px;
}
.faq-block .p-heading {
    font-size: 20px;
}
.faq-block .faqs-block .faq-links {
    overflow: auto;
    flex: none;
    align-items: normal;
    display: block;
    margin: 10px 0 0 10px;
    padding-bottom: 30px;
}
.faq-block .tab-buttons {
    gap: 10px;
    width: 440px;
}
.faq-block .tab-buttons span {
    font-size: 14px;
}
.faq-block .tab-content {
    width: 100%;
    padding: 10px;
}
.accordion button {
    padding: 0px 10px 10px;
}
.accordion button .accordion-title {
    font-size: 14px;
}
.accordion button .icon {
    top: 0px;
}
}
