.app-container {
  width: 100%;
}
.dark {
    --white-fff: #312c42;
    --black-000: #000;
    --white-fff-2: #fff;
    --color-blue: #bac3f3;
    --color-blue-dark: #252035;
    --color-blue-dark-1: #1b1826;
    --color-blue-dark-3: #312c42;
    --color-blue-dark-2: #20203e;
    --color-blue-dark-4: #1e1a2c;
    --blue-shade1: #061477;
    --dark-shade2: #222;
    --color-bbb: #bbb;
    --color-light-1: #f0efef;
    --color-779: #797197;
}
.hero-section {
  min-height: 100vh;
  background: linear-gradient(135deg, #ff512f, #f09819);
  position: relative;
  overflow: visible;

}

.center-content {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hero-row {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.compare-image {
  width: 300px;
  max-width: 90%;
}

.hero-text h1 {
  color: white;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.3;
  max-width: 500px;
}
/* LIGHT */
:root {
  --text-main: #ffffff;
  --text-sub: rgba(255, 255, 255, 0.85);
}

/* DARK */
[data-theme="dark"] {
  --text-main: #ffffff;
  --text-sub: rgba(255, 255, 255, 0.75);
}
